<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
        <img
          class="logo"
          src="assets/images/mwcd.jfif"
          width="100"
          height="60"
        />&nbsp;&nbsp;
        <h3 style="color: white">Women Empowerment</h3>
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
            <a class="nav-link" href="Register.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Log In</a> -->

            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/about"
                routerLinkActive="active"
                title="About us"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/ngo"
                routerLinkActive="active"
                title="Non-Governmental Organizations"
                >NGO's</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/trainings"
                routerLinkActive="active"
                title="Trainings"
                >Trainings</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/faq"
                routerLinkActive="active"
                title="Frequently Asked Questions"
                >FAQ</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/contactus"
                routerLinkActive="active"
                title="Contact Us"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/user"
                routerLinkActive="active"
                title="Update user"
                >Account</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead text-white">
      <div class="masthead-content">
        <div class="container h-100">
          <div class="row row-cols-1 row-cols-md-4 g-8">
            <div class="col">
              <div class="card text-black">
                <img
                  src="assets/images/img2.jfif"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Professional skill development courses for women
                  </h5>
                  <p class="card-text">
                    Encouraging young women to take informed career decisions.
                    Initiate mobile training centers and digital learning
                    centers in rural areas for access to quality training
                    leading to skill development and training on Life skills.
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-white">
                <img
                  src="assets/images/img20.jfif"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body text-black">
                  <h5 class="card-title">
                    Rural Project on Skill Development for Women Empowerment
                  </h5>
                  <p class="card-text">
                    We aim to empower these rural women by providing them in
                    their skills, to identify skills available with women in the
                    target group, to upgrade related skills of the targeted
                    rural women ,to provide them an oppurtunity to grow.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white">
                <img
                  src="assets/images/img7.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body text-black">
                  <h5 class="card-title">
                    Education Empowering Women In Rural Areas
                  </h5>
                  <p class="card-text">
                    The aim of the foundation is to empower women and girls of
                    marginalized groups and communities through sustainable
                    initiatives in the field of education, which will enable
                    them to be economically and socially secure and
                    self-reliant.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white">
                <img
                  src="assets/images/img18.jfif"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body text-black">
                  <h5 class="card-title">
                    All Women have equal opportunity to reproductive health
                  </h5>
                  <p class="card-text">
                    This ngo support, educate and advocate for women's health
                    issues in India focussing on sexual reproductive health,
                    post reporductive health, HIV awareness, male involvement in
                    women's health. Our vision" To celebrate a healthy woman"
                    <!-- our mission" enhancement of women's health in ahoilstic approach through
                      education ,advocacy  and service deliverly" -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Footer-->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>
          Ministry of Women and Child Development developed and maintained by
          &nbsp; &nbsp; &nbsp; &nbsp;Larsen & Toubro Infotech</small
        >
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
