<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
	<div class="container px-5">
	  <a class="navbar-brand" href="#">
	  <img
		class="logo"
		src="assets/images/mwcd.jfif"
		width="100"
		height="60"
	  />&nbsp;&nbsp;
		 Women Empowerment</a>
	  <button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbarResponsive"
		aria-controls="navbarResponsive"
		aria-expanded="false"
		aria-label="Toggle navigation"
	  >
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/about']" title="About us">About</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" [routerLink]="['/ngo']" title="Non-Governmental Organizations">NGO's</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/trainings']" title="Trainings">Trainings</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" [routerLink]="['/faq']" title="Frequently Asked Questions">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/contact']" title="Contact Us">Contact Us</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" [routerLink]="['/user']" title="Account">Account</a>
	  </li>
		</ul>

		</div></div></nav>
 
   
      
		 
  
	<div class="bg-contact2"id ="margin"style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form"[formGroup]="contactForm" (ngSubmit)="contact()">
					<span class="contact2-form-title">
						Contact Us
					</span>

					<div class="wrap-input2 validate-input" data-validate="Name is required">
						<label class="lable">Name</label>
						<input class="input2" type="text" name="name"formControlName="name" placeholder="NAME">
						<span class="focus-input2" ></span>
                        <br>
                        <span class="text-danger" *ngIf="contactForm.controls['name'].touched && contactForm.hasError('required','name')">*Name is required</span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<label class="lable"> Email</label>
						<input class="input2" type="text" name="email"formControlName="email"placeholder="Email">
                        <span class="focus-input2" ></span>
                        <br>
						<span class="text-danger" *ngIf="contactForm.controls['email'].touched && contactForm.hasError('required','email')">*Email is required</span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Message is required">
						<label class="lable">Message is required</label>
						<textarea class="input2" name="message"formControlName="message" placeholder="Message"></textarea>
						<span class="focus-input2" ></span><br>
                        <span class="text-danger" *ngIf="contactForm.controls['message'].touched && contactForm.hasError('required','message')">*Message is required</span>

					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" [disabled]="!contactForm.valid">
								Send Your Message
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
	<footer
	id="sticky-footer"
	class="flex-shrink-0 py-4 bg-dark text-white-50"
	>
	<div class="container text-center">
	  <small> Ministry of Women and Child Development developed and maintained by &nbsp; &nbsp; &nbsp; &nbsp;Larsen & Toubro Infotech</small>
	  <a href="https://www.facebook.com/"><img src="/assets/images/image23.jpg" height="30" width="30"></a>
	  <a href="https://www.instagram.com/"><img src="/assets/images/image24.jpg" height="30" width="30"></a>
	  <a href="https://www.linkedin.com/"><img src="/assets/images/image25.jpg" height="30" width="30"></a>
	  <a href="https://www.twitter.com/"><img src="/assets/images/image26.png" height="30" width="30"></a>
	
	  
	  <a href="https://www.youtube.com/" target="_blank">
		<i class="fa fa-2x fa-youtube"></i>
	  </a>
	  <a href="#">
		<i class="fa fa-linkedin"></i>
	  </a>
		
	</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
		 
	   <!-- Footer--> 


