<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Women Empowerment</title>
        
    </head> 
    <body id="page-top">-->

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <img
      class="logo"
      src="assets/images/mwcd.jfif"
      width="100"
      height="60"
    />&nbsp;&nbsp;

    <h3 style="color: white">Women Empowerment</h3>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item"><a class="nav-link" href="Register.html">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="login.html">Log In</a></li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Women Empowerment</h1>
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<br />
      <h4 style="color: whitesmoke">Explore..Encourage..Empower..</h4>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/home"
        >Get Started</a
      >
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/images/image6.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Stand up for yourself</h2>
                            <p>I never dream for success i worked for it</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Content section 2-->
<section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/images/image5.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">We salute you!</h2>
                            <p>Iam not what happened to me,Iam what I choose to become</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Content section 3-->
<section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/images/image5.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Strong Women</h2>
                            <p>She Overcome everything that was meant to destroy her</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Footer-->
<!-- Footer-->
<footer
id="sticky-footer"
class="flex-shrink-0 py-4 bg-dark text-white-50"
>
<div class="container text-center">
  <small> Ministry of Women and Child Development developed and maintained by &nbsp; &nbsp; &nbsp; &nbsp;Larsen & Toubro Infotech</small>
</div>
</footer>
