<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
        <img
          class="logo"
          src="assets/images/mwcd.jfif"
          width="100"
          height="60"
        />&nbsp;&nbsp;

        <h3 style="color: white">Women Empowerment</h3>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
            <a class="nav-link" href="Register.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Log In</a> -->

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" title="About us"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/ngo']"
                title="Non-Governmental Organizations"
                >NGO's</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/trainings']"
                title="Trainings"
                >Trainings</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/faq']"
                title="Frequently Asked Questions"
                >FAQ</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/contactus']"
                title="Contact Us"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/user']" title="Update user"
                >Account</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead text-white">
      <div class="masthead-content">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-10"
          >
            <div class="col-lg-12 col-xl-11">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="card-header text-center text-white bg-success">
                    BE A VOLUNTEER
                  </h5>

                  <div class="card text-black">
                    <div class="card-body">
                      <h5 class="card-title text-center">Login</h5>

                      <form
                        [formGroup]="loginForm"
                        (ngSubmit)="onVolunteerLogin()"
                      >
                        <div class="row">
                          <div class="form-group col">
                            <label>Email Address</label>
                            <input
                              type="text"
                              placeholder="Enter Email Address"
                              formControlName="email"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && loginForm.controls.email.errors
                              }"
                            />
                            <div
                              *ngIf="
                                submitted && loginForm.controls.email.errors
                              "
                              class="invalid-feedback"
                            >
                              <div *ngIf="loginForm.email.errors.required">
                                Email is required
                              </div>
                              <div *ngIf="loginForm.email.errors.email">
                                Email must be a valid email address
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col">
                            <label>Password</label>
                            <input
                              type="password"
                              placeholder="Enter Password"
                              formControlName="password"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && loginForm.password.errors
                              }"
                            />
                            <div
                              *ngIf="submitted && loginForm.password.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="loginForm.password.errors.required">
                                Password is required
                              </div>
                              <div *ngIf="loginForm.password.errors.minlength">
                                Password must be at least 6 characters
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group col">
                          <label>Confirm Password</label>
                          <input
                            type="password"
                            placeholder="Enter Password again"
                            formControlName="confirmPassword"
                            class="form-control"
                            [ngClass]="{
                              'is-invalid':
                                submitted && loginForm.confirmPassword.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && loginForm.confirmPassword.errors
                            "
                            class="invalid-feedback"
                          >
                            <div
                              *ngIf="loginForm.confirmPassword.errors.required"
                            >
                              Confirm Password is required
                            </div>
                            <div
                              *ngIf="loginForm.confirmPassword.errors.mustMatch"
                            >
                              Passwords must match
                            </div>
                          </div>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && registerForm.controls.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div> -->
                        &nbsp;
                        <div class="row">
                          <div class="text-center">
                            <button class="btn btn-success mr-1">Login</button>
                            <button
                              class="btn btn-secondary"
                              type="reset"
                              (click)="onReset()"
                              style="margin-left: 30px"
                            >
                              Cancel
                            </button>
                            <button
                              routerLink="/ngo"
                              routerLinkActive="active"
                              class="btn btn-success"
                              style="margin-left: 30px"
                            >
                              New User ? Register
                            </button>
                          </div>
                        </div>
                      </form>
                      <!-- <a style="text-align: center;" routerLink="/ngo">New User ? Click to SignUp</a>
                 -->
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card text-white">
                    <div
                      class="bg-image hover-overlay ripple"
                      data-mdb-ripple-color="light"
                    >
                      <img src="assets/images/ngo.png" class="img-fluid" />
                      <a href="#!">
                        <div
                          class="mask"
                          style="background-color: rgba(251, 251, 251, 0.15)"
                        ></div>
                      </a>
                    </div>

                    <div class="card-body text-black" style="max-height: 100px">
                      <h5 class="card-title text-center">
                        Connect. Contribute. Collaborate.
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Footer-->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>
          Ministry of Women and Child Development developed and maintained by
          &nbsp; &nbsp; &nbsp; &nbsp;Larsen & Toubro Infotech</small
        >
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
