<div class="p-3" id="background">
    <h2 class="h2-responsive text-center p-3">Training Sector Details</h2>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Special Women-Centric Projects</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/Women-Skill-India-schemes.jpeg" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>NSDC, through its training partners such as Mann Deshi Foundation, 
                                            Shri Mahila Sewa Sahkari Bank Limited and Sri Sarada Math RasikBhita are working exclusively 
                                            on skill development of women, especially in rural areas. 
                                            The training constitutes imparting digital, accounting and 
                                            entrepreneurial skills so as to facilitate the possibility of 
                                            setting up their own business. 
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Qualification: </th>
                                        <td>
                                            Minimal literacy to read and write and communicate in Hindi/English.However, we can provide fellowship to people who are
                                            interested but are unable afford.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                            (Other Languages Course would be offered in March, 2022 so people who want to
                                            attend from AP and Telangana need not apply now.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Entrepreneurial Initiatives</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/women12.jpg" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>MSDE is committed to facilitate growth of women entrepreneurs in the country. NIESBUD under the MSDE has designed Entrepreneurship Development Programs for the rural women with the objective to inculcate entrepreneurial values, attitude and motivation among the Rural women to take up challenges to set up an enterprise/Group Enterprises. The Livelihood Business Incubation (LB I) 
                                            approach is also used to promote woman entrepreneurs by the Institute.
                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Tailoring</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/tailoring.jpg" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>The trainees will be selected from the poor and destitute women of the
                                            society belonging low income group preferably below 40 years of age having
                                            primary knowledge of reading and writing. The trainees will get the stipend
                                            of Rs. 200/- per month. The duration of training is for one year. maximum
                                            number of trainees in each center is 50 (fifty).
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Objective: </th>
                                        <td>
                                            The main object of the scheme is to rehabilitate the poor and destitute
                                            girls and women of the society both economically and socially through the
                                            training in cutting and tailoring and knitting.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
</div>