<!-- <div id="container">
    <div class="m-2">
        <nav class="navbar navbar-expand-md ">
            <div class="container-fluid">
                <a  class="navbar-brand">
                    <img src="images/mwcd.jfif" height="58" >
                    Women Empowerment
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Home</a>
                        <a href="#" class="nav-item nav-link">Profile</a>
                        <a href="#" class="nav-item nav-link">About</a>
                        <a href="#" class="nav-item nav-link">FAQ</a>
                        <a href="login.html" class="nav-item nav-link">Login</a>
                    </div>
                  
                </div>
            </div>
        </nav>
    </div>
    <div class="description">
        <h1>Ministry of Women Empowerment!</h1>
        <p>
            “Women Empowerment Reminder of The Day. Always respect yourself as a woman.
             You attract what you are, so be very mindful of how you’re representing yourself. 
             If you want respect, you must first learn how to respect yourself, first. 
             Attracting negative attention is never a good thing. Be a woman of substance! 
             Be a woman that both women and men respect, admire, and look up to. 
             Don’t disrespect yourself by lowering your standards and accepting just anything that comes your way.
              It’s okay to be single! If you want a relationship of substance, 
            you can’t keep entertaining people and things that mean you no good. 
            Think about it! It’s all up to you.”
        </p>
    </div>
    <div>
   
    <div class="footer-copyright text-center py-3" id="footer-bottom">© 2020 Copyright:
        <a href="#" class="footer-link"> WomenEmpowerment.com</a>
      </div>
      </div>
     -->
<style>
    #main-container {
    width: 100%;
    height: 100vh;
    background: url('assets/images/Women-Skill-India-schemes.jpeg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
</style>
     <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar ">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="assets/images/mwcd.jfif" height="58">
            <strong>  Women Empowerment</strong></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" title="About us">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/ngo']" title="Non-Governmental Organizations">NGO's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/trainings']" title="Trainings">Trainings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/faq']" title="Frequently Asked Questions">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contactus']" title="Contact Us">Contact Us</a>
            </li>
            </ul>
            <form class="form-inline">
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
          <a class="navbar-brand" href="#">
          <img
            class="logo"
            src="assets/images/mwcd.jfif"
            width="100"
            height="60"
          />&nbsp;&nbsp;
             Women Empowerment</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" title="About us">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/ngo']" title="Non-Governmental Organizations">NGO's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/trainings']" title="Trainings">Trainings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/faq']" title="Frequently Asked Questions">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contactus']" title="Contact Us">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/user']" title="Account">Account</a>
          </li>
            </ul>

            </div></div></nav>
     
     
            <div class="view" id="main-container">
        <div class="overlay">
            <h1 class="text-center p-4">Ministry of Women Empowerment</h1>
        </div>
    </div>
      <div class="footer-copyright text-center py-3" id="footer-bottom">© 2020 Copyright :&nbsp;
        <a class="footer-link" href=""> Ministry of Women and Child Development</a>&nbsp; developed and maintained by <a class="footer-link"  href="">&nbsp;Larsen & Toubro Infotech</a>
      </div>